*.o
*/*.o
.DS_Store
HDF5/
arma_libs/
PROMETHEUS++/Makefile
PROMETHEUS++/compile.sh
PROMETHEUS++/debug_run_pro.sh
PROMETHEUS++/profile_run_pro.sh
PROMETHEUS++/run_pro.sh
PROMETHEUS++/bin/
PROMETHEUS++/inputFiles/
PROMETHEUS++/outputFiles/
PROMETHEUS++/nohup*
PROMETHEUS++/m*
*.fig
PROMETHEUS++/*.csv
